
.left-logo {
    float: left;
    width: 50%;
    padding: 20px;
    border-right-style: double;
    border-width: 10px;

}

.circle-body {
    background: linear-gradient(#FFA500,#A9A9A9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.right-input {
    display: flex;
    justify-content: end;
    float: right;
    width: 50%;

}

h1 {
    text-align: center;
}

.input-form {
    margin-top: 100px;
    height: 50%;
    width: 100%;
    padding: 50px;
}

.userName-text {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.title-text {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.content-text {
    width: 100%;
    height: 75px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
}

input[type=submit] {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

