* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: right;
    border-bottom-style: double;
    border-width: 10px;

}

.dark-mode {
    background-color:#243447;
    color: #bebebe
   
  }
  
.light-mode {
    background-color: #f0ead6;
    color: #333333;
  }


